<div class="card">
    <div class="card-header">
        {{ app.session.get('current_tag').1[0] }}
        {{ app.session.get('current_tag').1[1] }}
    </div>
    <div class="card-body">
        <table class="table table-borderless table-sm">
            <tbody>
            {% for term in terms %}
                <tr>
                    <td>{{ term.getWord }}</td>
                    <td>{{ term.getTranslation }}</td>
                </tr>
                <tr>
                    <form method="post"
                          action="{{ path('homepage_word_update',
                              {id: term.id}) }}">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('update' ~ term.id) }}">
                        <td>
                            <input class="inputUpdateTerm" type="text"
                                   value="{{ term.getWord }}" name="word">
                        </td>
                        <td>
                            <input class="inputUpdateTerm" type="text"
                                   value="{{ term.getTranslation }}"
                               name="translation">
                        </td>
                        <td>
                            <button type="submit">upd</button>
                        </td>
                    </form>
                        <td>
                    <td>
                        <form method="post"
                              action="{{ path('homepage_word_delete',
                                  {id: term.id}) }}">
                            <input type="hidden" name="_method"
                                   value="DELETE">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('delete' ~ term.id) }}">
                            <button id="eraseWord" type="submit">X</button>
                        </form>
                    </td>
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="pagination pagination-sm justify-content-center">
            {{ knp_pagination_render(terms) }}
        </div>
    </div>
</div>