<div class="card">
    <div class="card-header">
        <span class="cardWordCol">
            {{ app.session.get('current_tag').1[0] }}
        </span>
        <span class="cardWordCol">
            {{ app.session.get('current_tag').1[1] }}
        </span>
    </div>
    <div class="card-body">
        <table class="table table-borderless table-sm">
            <tbody>
            {% for term in terms %}
                <tr>
                    <td class="cardWordCol">{{ term.getWord |capitalize }}</td>
                    <td class="cardWordCol">
                        {{ term.getTranslation |capitalize }}
                    </td>
                    <td>
                        <a id="penIcon" data-toggle="collapse"
                                data-target="{{ '#editWordFormCollapse' ~
                                term.id }}"
                                aria-expanded="false"
                                aria-controls="{{ 'editWordFormCollapse' ~
                                term.id }}">
                            <img src="{{ absolute_url(asset
                                ('/media/pen.png'))
                            }}" />
                        </a>
                    </td>
                    <td>
                        <form method="post"
                              action="{{ path('homepage_word_delete',
                                  {id: term.id}) }}">
                            <input type="hidden" name="_method"
                                   value="DELETE">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('delete' ~ term.id) }}">
                            <button id="eraseWord" type="submit">
                                <img src="{{ absolute_url(asset
                                    ('/media/trash.png'))
                                }}" />
                            </button>
                        </form>
                    </td>
                </tr>
                <tr class="collapse"
                    id="{{ 'editWordFormCollapse' ~ term.id }}">
                    <form method="post"
                          action="{{ path('homepage_word_update',
                              {id: term.id}) }}">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('update' ~ term.id) }}">
                        <td>
                            <input class="inputUpdateTerm" type="text"
                                   value="{{ term.getWord |capitalize }}"
                                   name="word">
                        </td>
                        <td>
                            <input class="inputUpdateTerm" type="text"
                                   value="{{ term.getTranslation |capitalize }}"
                               name="translation">
                        </td>
                        <td>
                            <button type="submit" id="valideEditWord">
                                <img src="{{ absolute_url(asset
                                    ('/media/checkmark.png'))
                                }}" />
                            </button>
                        </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="pagination pagination-sm justify-content-center">
            {{ knp_pagination_render(terms) }}
        </div>
    </div>
</div>