{% extends 'base.html.twig' %}

{% block body %}
<div class="container text-center">
    <div class="card">
        <p>Score: {{ score ~ ' / ' ~ testLength }}</p>
        <p>{% if scoreRate <= 0.33 %}
                &#128532; &#128691; &#10145; &#128218;
            {% endif %}
            {% if scoreRate >0.33 and scoreRate <= 0.66 %}
                &#128528; &#10145; &#128218;
            {% endif %}
            {% if scoreRate >0.66 and scoreRate < 1 %}
                &#128527; &#127891; &#128079;
            {% endif %}
            {% if scoreRate == 1 %}
                &#127941; &#127870; &#11088;
            {% endif %}
        </p>
        <p>
            <button class="btn btn-info" type="button"
                    data-toggle="collapse" data-target="#collapseTestResult"
                    aria-expanded="false" aria-controls="collapseTestResult">
                Display test's results
            </button>
            <a class="btn btn-primary btnRegister" type="button"
               href="{{ path('homepage_index') }}">
                Close the test
            </a>
        </p>
        <div class="collapse" id="collapseTestResult">
            <p><b>Correct answers: </b></p>
            {% for result in testResult %}
                {% if result.result == 1 %}
                    <p><span class="resultQuest">
                            {{ result.term1 | capitalize  }}
                        </span>
                        {{ '  =  ' ~ result.term2 | capitalize }}</p>
                {% endif %}
           {% endfor %}
            <p><b>Wrong answers: </b></p>
           {% for result in testResult %}
                {% if result.result == 0 %}
                    <p><span class="resultQuest">{{ result.term1 | capitalize }}
                        </span>
                        &#x2260;<span  class="resultBadResp">
                            {{ result.term2 | capitalize }}</span><br>
                        Answer &rarr;
                       <span>{{ result.term3 | capitalize }}</span>
                    </p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}